.advantages__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.advantages__number,
.advantages__description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages__text {
  padding: 20px 10px;
  background-color: #81b3d2;
}

.advantages__text p,
.advantages__text h2 {
  color: #ffffff;
}

.advantages__item-wrapper--grey {
  margin-top: -20px;
  background-color: #eeeeee;
}

.advantages__item--grey {
  padding: 20px 10px;
}
