.advantages__title {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantages__number,
.advantages__description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages__number {
  margin: 9px 0;
}

.advantages__text {
  padding: 20px 20px 27px 20px;
  background-color: #81b3d2;

  @media (min-width: @tablet-width) {
    width: 50%;
    padding: 0 20px;
  }
}

.advantages__text p,
.advantages__text h2 {
  color: #ffffff;
}

.advantages__item-wrapper--grey {
  background-color: #eeeeee;
}

.advantages__item-wrapper--grey .container {
  @media (min-width: @tablet-width) {
    display: flex;
    min-height: 256px;
    align-items: center;
    justify-content: space-between;
  }
}

.advantages__item--grey {
  padding: 13px 18px;
  margin: 0 17px;

  @media (min-width: @tablet-width) {
    width: 33%;
    padding: 13px 17px;
    margin: 0 30px;
  }

  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.advantages__item--grey:last-child {
  border-bottom: none;
}

.advantages__image {
  display: block;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 512px;
  }
}

.advantages__item--town,
.advantages__item--bridge {
  @media (min-width: @tablet-width) {
    display: flex;
    height: 256px;
  }
}

.advantages__item--town .advantages__text {
  @media (max-width: @mobile-width-only) {
    background-image: url("../../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: 50% -54px;
    background-size: 762px 93px;
  }
}

.advantages__item--town .advantages__title {
  padding-top: 40px;
  @media (min-width: @tablet-width) {
    padding-top: 27px;
  }
}

.advantages__item--bridge .advantages__text {
  padding-top: 25px;
  @media (min-width: @tablet-width) {
    order: 2;
    padding-top: 27px;
  }
}

.advantages__item--bridge .advantages__title {
  width: 150px;
  margin: 17px auto 0;
}

.advantages__item--town .advantages__text,
.advantages__item--bridge .advantages__text {
  @media (min-width: @tablet-width) {
    width: 30%;
    flex-grow: 1;
  }
}

.advantages__description {
  @media (min-width: @tablet-width) {
    width: 162px;
    margin: 23px auto 0 auto;
  }
}

.advantages__item--grey:nth-child(2) .advantages__description {
  @media (min-width: @tablet-width) {
    width: 145px;
  }
}

.advantages__item--grey .advantages__title {
  @media (min-width: @tablet-width) {
    margin-top: 0;
    width: 159px;
  }
}
