.banner {
  min-height: 389px;
  margin-top: 50px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.banner__text {
  padding-top: 80px;
  width: 281px;
  margin: 0 auto;
}
