.banner {
  min-height: 389px;
  margin-top: 50px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;

  &--inner-page {
    min-height: 150px;
    background-position: 50% 100%;
  }
}

.banner__text {
  padding-top: 80px;
  width: 281px;
  margin: 0 auto;

  &--short {
    display: block;
    padding-top: 20px;
    width: 250px;
    height: 180px;
  }
}
