.comment-fieldset__field {
  display: block;
  width: 279px;
  margin: 0 auto;
  min-height: 160px;
  max-height: 80vw;
  background-color: #eeeeee;
  border: none;
}

.comment-fieldset__field::placeholder {
  padding: 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
