.comment-fieldset {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 648px;
    margin: 26px auto 0 auto;
    padding: 0;
    border: none;
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.comment-fieldset__field {
  resize: vertical;
  display: block;
  width: 100%;
  margin: 0 auto;
  min-height: 156px;
  max-height: 80vw;
  padding: 11px 20px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 15px 20px;
    min-height: 158px;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
  }
}

.comment-fieldset__field::placeholder {
  color: #000000;
  opacity: 1;
}

.comment-fieldset__field-wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.comment-fieldset__title {
  padding: 0 0 18px 0;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
    margin: 0 auto 58px auto;
  }

  @media (min-width: @desktop-width) {
    width: 420px;
    text-align: center;
  }
}
