.contacts-fieldset__icon {
  display: none;
}

.contacts-fieldset__text {
  padding-left: 20px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
}

.contacts-fieldset__input {
  min-width: 280px;
  margin: 0 auto 10px;
  height: 58px;
  background-color: #eeeeee;
  border: none;
}

.contacts-fieldset__input::placeholder {
  padding-left: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
