.controls {
  position: relative;
  display: flex;
  width: 280px;
  height: 66px;
  margin: 0 auto;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 648px;
    height: 92px;
    padding: 0 36px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.controls__scrollbar {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 66px;
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);

  @media (min-width: @tablet-width) {
    position: static;
    width: 389px;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    width: 540px;
  }
}

.controls__scale {
  position: relative;
  display: block;
  margin: 20px auto 0 auto;
  width: 235px;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.3;

  @media (min-width: @tablet-width) {
    width: 389px;
  }

  @media (min-width: @desktop-width) {
    width: 540px;
  }
}

.controls__button--scroll {
  position: absolute;
  top: 18px;
  left: 59px;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: 42px;
    left: 206px;
  }
}

.controls__button {
  border: none;
  cursor: pointer;

  &--replay {
    width: 16px;
    height: 20px;
    margin-right: 102px;
    background-color: transparent;

    @media (min-width: @tablet-width) {
      margin-right: 3px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 0;
    }
  }

  &--subtitles {
    width: 32px;
    height: 20px;
    background-color: transparent;
  }

  &--fullscreen {
    width: 20px;
    height: 20px;
    background-color: transparent;
  }
}

.controls__button-icon {
  fill: #5c6870;

  @media (min-width: @tablet-width) {
    fill: #ffffff;
  }
}
