.controls {
  width: 280px;
  height: 66px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.controls__list {
  position: relative;
  display: flex;
  height: 60px;
  padding-top: 10px;
  background-color: #eeeeee;

  &::after {
    position: absolute;
    content: "";
    top: -25px;
    left: 20px;
    width: 235px;
    height: 3px;
    background-color: #ffffff;
    opacity: 0.4;

    @media (min-width: @tablet-width) {
      top: -16px;
      left: 60px;
      width: 450px;
    }
  }

  @media (min-width: @tablet-width) {
    background-color: #000000;
    opacity: 0.6;
  }
}

.controls__button {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;

  &--replay {
    margin-right: auto;
    background-image: url("../../img/icon-video-replay.svg");

    @media (min-width: @tablet-width) {
      margin-top: -40px;
    }
  }

  &--subtitles {
    background-image: url("../../img/icon-video-subtitles.svg");

    @media (min-width: @tablet-width) {
      margin-top: -40px;
    }
  }

  &--fullscreen {
    background-image: url("../../img/icon-video-fullscreen.svg");

    @media (min-width: @tablet-width) {
      margin-top: -40px;
    }
  }

  &--toggle {
    position: absolute;
    bottom: 78px;
    left: 50px;
    width: 10px;
    height: 11px;
    border-radius: 50%;
    background-color: #ffffff;

    @media (min-width: @tablet-width) {
      bottom: 69px;
      left: 100px;
    }
  }
}

.controls__scale {
  height: 45px;
  margin-top: -30px;
  background-color: #000000;
  opacity: 0.6;

  @media (min-width: @tablet-width) {
    margin-top: -60px;
  }
}
