.copyright__text {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.copyright__icon-image {
  width: 50px;
  height: 40px;
  margin-left: 5px;
}

.copyright {
  display: flex;
  align-items: center;
  width: 128px;
  margin: 30px auto 10px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
