.features {
  margin-top: 20px;
  margin-bottom: 23px;
  text-align: left;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 81px;
  }
}

.features__list {
  .list-reset();
  padding: 0 6%;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
}

.features__item {
  position: relative;
  padding-left: 50px;
  display: flex;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    width: 33.33%;
    padding-left: 0;
  }
}

.features__item:nth-child(2) {
  order: 2;
}

.features__item:first-child {
  @media (min-width: @desktop-width) {
    margin-left: -1px;
  }
}

.features__title {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    margin-top: -3px;
    text-align: center;
    font-size: 21px;
  }
}

.features__text {
  margin-top: 13px;
  font-size: 14px;
  line-height: 21px;
  word-spacing: 1.2px;
  color: #333333;

  @media (min-width: @tablet-width) {
    text-align: center;
    width: 62%;
    margin: 20px auto 0;
  }

  @media (min-width: @desktop-width) {
    width: 70%;
    word-spacing: 0.2px;
  }
}

.features__item:nth-child(2) .features__text {
  @media (min-width: @tablet-width) {
    width: 70%;
  }

  @media (min-width: @desktop-width) {
    width: 66%;
  }
}

.features__item:last-child .features__title {
	@media (min-width: @tablet-width) {
		margin-top: -11px;
	}
}

.features__item:last-child .features__text {
  @media (min-width: @tablet-width) {
    width: 60%;
  }

  @media (min-width: @desktop-width) {
    width: 73%;
  }
}

.features__icon {
  position: absolute;
  top: 6px;
  left: 3px;
  width: 37px;
  height: 36px;
  fill: @primary-color;

  &--present {
    top: 3px;
    left: 6px;
    height: 37px;

    @media (min-width: @tablet-width) {
      width: 78px;
			height: 137px;
			padding-left: 5px;
    }
  }

  &--burger {
    top: 9px;
    left: 0;

    @media (min-width: @tablet-width) {
      width: 74px;
      height: 145px;
    }
  }

  &--house {
    @media (min-width: @tablet-width) {
      width: 76px;
      height: 138px;
    }
  }

  @media (min-width: @tablet-width) {
    position: static;
    margin-left: auto;
    margin-right: auto;
    order: -1;
  }
}


.features__text br {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
