.features {
  text-align: left;
  background-color: #ffffff;
}

.features__list {
  .list-reset();
}

.features__item {
  padding-left: 70px;
}

.features__title {
  font-size: 18px;
  line-height: 26px;
}

.features__text {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
