.features {
  margin-top: 20px;
  margin-bottom: 23px;
  text-align: left;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    margin-bottom: 62px;
    margin-top: 25px;
  }
}

.features__list {
  .list-reset();
  padding: 0 6%;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
}

.features__item {
  position: relative;
  padding-left: 50px;
  display: flex;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    width: 33.33%;
    padding-left: 0;
  }
}

.features__item:nth-child(2) {
  order: 2;
}

.features__title {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    margin-top: -3px;
    text-align: center;
    font-size: 21px;
  }
}

.features__text {
  margin-top: 13px;
  font-size: 14px;
  line-height: 21px;
  word-spacing: 1.2px;
  color: #333333;

  @media (min-width: @tablet-width) {
    text-align: center;
    width: 62%;
    margin: 20px auto 0;
  }
}

.features__item:nth-child(2) .features__text {
  width: 70%;
}

.features__item:last-child .features__text {
  width: 60%;
}
.features__icon {
  position: absolute;
  top: 6px;
  left: 3px;
  width: 37px;
  height: 36px;

  &--present {
    top: 3px;
    height: 37px;
  }

  &--burger {
    top: 8px;
    left: 1px;
  }

  @media (min-width: @tablet-width) {
    position: static;
    margin-left: auto;
    margin-right: auto;
    width: 76px;
    height: 136px;
    order: -1;
  }

  &--present {
    @media (min-width: @tablet-width) {
      width: 64px;
    }
  }
}
