.impression-fieldset {
  height: 282px;

  @media (min-width: @tablet-width) {
    order: -1;
    width: 383px;
    height: 320px;
    padding-left: 48px;
    border: none;
    border-right: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    width: 535px;
    height: 307px;
    margin-left: 66px;
  }
}

.impression-fieldset__text {
  position: relative;
  padding-left: 90px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &::before {
    position: absolute;
    top: -13px;
    left: 12px;
    content: "";
    width: 52px;
    height: 52px;
    background-color: #f2f2f2;
    border-radius: 50%;
  }

  @media (min-width: @tablet-width) {
    padding-left: 85px;
  }
}

.impression-fieldset__wrapper input:checked + .impression-fieldset__text::after {
  position: absolute;
  top: 3px;
  left: 28px;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #333333;
  border-radius: 50%;
}

.impression-fieldset__wrapper {
  height: 45px;
  margin: 17px 0 24px 0;
  padding: 0 10px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 33px;
  }
}

.impression-fieldset__title {
  @media (min-width: @tablet-width) {
    padding-left: 8px;
    padding-top: 10px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 4px;
    text-align: center;
  }
}

.impression-fieldset__wrapper:last-child {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.impression-fieldset__input:hover + .impression-fieldset__text::before {
  background-color: #e5e5e5;
}

.impression-fieldset__input:active + .impression-fieldset__text::before {
  background-color: #d5d5d5;
}

.impression-fieldset__input:active + .impression-fieldset__text::after {
  opacity: 0.3;
}
