.offer {
  margin: 40px auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}

.offer__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.offer__text {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}

.offer__button {
  padding: 15px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
