.page-footer {
  margin-top: 34px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

.page-footer__link {
  display: block;
  margin: 0 auto 36px;
  width: 136px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__social {
  margin: 20px auto;
}
