.page-title {
  margin: 40px 0;
}

.page-title__heading {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.page-title__text {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
