.page-footer {
  margin-top: 38px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 120px;
    margin-top: 4px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    margin-left: 115px;
    margin-right: 116px;
    min-height: 100px;
    margin-top: 13px;
  }
}

.page-footer__link {
  display: block;
  margin: 0 auto 36px;
  width: 136px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    height: 38px;
    margin: 0 0 0 5px;
  }
}

.page-footer__social {
  margin: 20px auto;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
