.page-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  &--menu-closed {
    height: 55px;
    margin-bottom: 30px;
  }
}

.page-header__logo {
  display: block;
  width: 122px;
  height: 83px;
  padding: 0 10px;
  margin: 0 auto;
}
