.page-title {
  margin: 40px 0;
}

.page-title__heading {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
  &--inner-page {
    @media (min-width: @tablet-width) {
      font-size: 30px;
    }
  }
}

.page-title__text {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  &--inner-page {
    @media (min-width: @tablet-width) {
      line-height: 24px;
    }
  }
}
