.photos__list {
  .list-reset();
}

.photos__item {
  display: block;
  padding: 0 20px;
  margin: 0 auto;
}

.photos__title,
.photos__likes {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.photos__author {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
