.presentation {
  margin: 40px auto;
}

.presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.presentation__title,
.presentation__text {
  text-transform: uppercase;
  text-align: center;
}

.presentation__text {
  width: 236px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.presentation__video {
  position: relative;
  margin-top: 20px;
}

.presentation__video-scroll {
  position: absolute;
  top: 156px;
  left: 18px;
  width: 280px;
  height: 45px;
  margin: 0 auto;
  background-color: #000000;
  opacity: 0.6;
}

.presentation__video-scale {
  position: relative;
  width: 235px;
  height: 2px;
  margin: 20px auto;
  background-color: #ffffff;
  opacity: 0.2;
}

.presentation__video-toggle {
  position: absolute;
  top: 16px;
  left: 55px;
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  opacity: 1;
  border-radius: 50%;
  border: none;
}
