.review-form {
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin: 18px auto 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    margin: 4px auto 0 auto;
  }
}

.review-form fieldset {
  @media (max-width: @mobile-width-only) {
    margin-left: 0;
    padding: 0;
    border: none;
  }
}

.review-form__button {
  margin: 0 auto;
  width: 280px;
  padding: 15px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  border: none;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-right: auto;
    width: 324px;
    padding: 15px 34px 15px 20px;
  }

  @media (min-width: @desktop-width) {
    width: 480px;
    padding: 15px 20px;
  }
}

.review-form__group legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    width: 100%;
    padding: 17px 5px 22px 5px;
    text-align: center;
    border-top: 1px solid #eeeeee;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.review-form__group {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 7px;
  }
}

.review-form__remark {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-top: 5px;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #333333;
  }
}

.review-form__button-wrapper {
  margin-top: 52px;
  margin-bottom: 75px;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 648px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 66px;
    margin-top: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 72px;
    width: 960px;
  }
}
