.social-list {
  .list-reset();
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social__icon {
  display: block;
  width: 14px;
  height: 40px;
  margin: 0 auto;
}
